link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet', href='../../css/login.css')
    meta(name='google-site-verification' content='pxOa2Qv7Wq0cQ78SbERxoOVDxJ-XbKHZL8rvLmki3xs')

    
    .container.mt-2
        a.btn.btn-success(href='/user') Return
    
        br
        br
        br

        h1.text-center New user

        br
        br
        .card.card-body
            h5.card-header.text-center Form new user
            form(action="/user/create" method='post')
                .form-group
                label(for="name") Name
                input#name.form-control(  type="text" name="name" value =user.name class=errors.name ? 'is-invalid': '')
                if errors.name
                    small#nameHelp.text-danger
                        = errors.name-message
                .form-group
                    label(for="email") Email
                    input#email.form-control(type="text" name="email" value =user.email class=errors.email ? 'is-invalid': '')
                    if errors.email
                        small#emailHelp.text-danger
                            = errors.email-message
                .form-group
                    label(for="password") Password
                    input#password.form-control(type="password" name="password" value =user.password class=errors.password ? 'is-invalid': '')
                    if errors.name
                        small#nameHelp.text-danger
                            = errors.name-message
                .form-group
                    label(for="confirm_password") Confirm password
                    input#password.form-control(type="password" name="confirm_password" value =user.confirm_password class=errors.confirm_password ? 'is-invalid': '')
                    if errors.confirm_password
                        small#confirm_passwordHelp.text-danger
                            = errors.confirm_password-message
                br
                br
                input.btn.btn-primary(type="submit" value ='Save')
            
            

        