extends ../layout

block content
    a.btn.btn-success.mt-3(href='/user/create') New user

    br
    br

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Name
                th(scope='col') Email
                th(scope='col') Verified
                th(scope='col')
                th(scope='col')
        tbody
            each user in users
                tr
                    td(scope='row')=user.id
                    td=user.name
                    td=user.email
                    td=user.verified ? 'si' : 'no'
                    td
                        a.btn(href= '/user/'+user.id+'/update') Edit
                    td
                        form.inline(method='post' action='/user/'+user.id+'/delete')
                            input.link-button-danger(type="hidden" name='id' value=user.id)
                            button.link-button.btn-danger(type="submit" 'submit_value' class='btn' )
                                = 'Delete'

