extends ../layout

block content
    a(href="/user") Return

    br
    br
    br


    h1 Update user

    br
    br

    form(action=`/user/${user.id}/update` method='post')
        .form-group
            label(for="name") Name:
            input#name.form-control(type="text" name='name' value= user.name class= errors.name ? 'is-invalid': '')
            if errors.name
                small#nameHelp.text-danger
                    =errors.name.message
    
        br
        br
        input(type='submit' value='Send')
    