link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet', href='../../css/login.css')
    .container
        .card.mx-auto.mt-4(style='width: 25rem;')
            .card-body
                h4.card-header.text-center Login
                form(action='/login' method='post')
                    .form-group
                        input.form-control.mt-2(type="email" placeholder="Email" name="email" )
                        input.form-control.mt-1(type="password" name="password" placeholder="Password"  )
                        br
                    .form-group.text-center
                        a(href="/login/reset_password" ) forgot password?
                    .form-group.text-center
                        a(href="/auth/google") Login with google
                    .text-center
                        button.btn.btn-primary.text-center(type='submit') login
        