link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet', href='../../css/login.css')
    meta(name='google-site-verification' content='pxOa2Qv7Wq0cQ78SbERxoOVDxJ-XbKHZL8rvLmki3xs')
    .container
        .card.mx-auto.mt-4(style='width: 25rem;')
            .card-body
                h5.card-header.text-center Reset your password
                form(action="/login/password_reset", method="post")
                    .form-group
                        input.form-control.mt-2(type="text" name="email" placeholder="Email")
                    .form-group
                        input.form-control.mt-2(type="password" name="password" placeholder="Password")
                    .form-group
                        input.form-control(type="password" name="confirm_password" placeholder="Confirm password")
                    .form-group.text-center
                        input.btn.btn-primary(type="submit" value="send")