extends ../layout

block content

    br
    br
    br
    h1 New bike

    br
    br

    form(action="/bikes/create" method="POST")
        label(for="codigo") ID:
        input(type="text" name='codigo')
        br
        label(for="color") COLOR:
        input(type="text" name='color')
        br
        label(for="model") MODEL:
        input(type="text" name='model')
        br
        label(for="latitude") LATITUDE:
        input(type="text" name='latitude')
        br
        label(for="longitud") LONGITUDE:
        input(type="text" name='longitude')
        br
        br
        input.btn(type="submit", value="OK")