extends ../layout

block content
    a(href="/bikes/create") New bike
    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col')  model
                th(scope='col')  color
                th(scope='col')  ubication
                th(scope='col') 
                th(scope='col') 
            tbody
                each bike in bikes
                    tr
                        td(scope='row')=bikes.codigo
                        td=bikes.color
                        td=bikes.model
                        td=bikes.ubication
                        td
                            a(href="bikes/"+ bikes.codigo + '/update' class='btn') Modifie
                        td
                            form.inline(action='bikes/'+bikes.codigo+'/delete' method="post")
                                input(type="hidden" name="id" value= bikes.codigo)
                                button.link-button(type='submit' name='submit_param' value='submit_value' class='btn' )
                                    = 'Delete'