extends ../layout

block content

    br
    br
    br
    h1 update bike

    br
    br

    form(action=`/bikes/${bike.codigo}/update` method="POST")
        label(for="id") ID:
        input(type="text" name='id' value=bike.codigo)
        br
        label(for="color") COLOR:
        input(type="text" name='color' value=bike.color)
        br
        label(for="model") MODEL:
        input(type="text" name='model' value=bike.model)
        br
        label(for="latitude") LATITUDE:
        input(type="text" name='latitude' value=bike.ubication[0])
        br
        label(for="longitud") LONGITUDE:
        input(type="text" name='longitude' value=bike.ubication[1])
        br
        br
        input.btn(type="submit", value="OK")